html
  head
    title= title
  body
    body
    h1 Hello there!
    #container.col
      p.
        The OS version is #{os_info}.
      p.
        Xendit - Trial - #{candidate_name} - #{date_start_trial} - #{date_current}